.ModalBebidas {
  padding-top: 6em;
  padding-bottom: 6em;
  border: 3em solid #fff;
  border-bottom: none;
}
.ModalBebidas .ConteinerModal {
  width: 100%;
  max-width: none;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio {
  padding-left: 30px;
  padding-right: 30px;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteinerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 -20px;
  padding: 0 20px;
  width: 100%;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteinerTitle .BoxTitle {
  font-family: var(--fontTitle);
  text-align: center;
  width: 50%;
  color: #000;
  padding-bottom: 2.4em;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteinerTitle .BoxTitle h3 {
  color: #9fc4ce;
  font-style: normal !important;
  margin-bottom: 0.4em;
  font-size: 1.5em;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteinerTitle .BoxTitle h1 {
  font-size: 3em;
  padding-bottom: 0.1em;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteinerTitle .BoxTitle p {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio #NavBarBebidas {
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
  width: 100%;
  font-family: var(--fontText);
}
.ModalBebidas .ConteinerModal .ConteinerCardapio #NavBarBebidas span {
  display: block;
  padding: 1em 2em 1em;
  font-size: 1.1em;
  line-height: 1;
  cursor: pointer;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio #NavBarBebidas span.focused {
  color: #9fc4ce;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteirProdutos {
  display: flex;
  margin: 0 -20px;
  position: relative;
  overflow: hidden;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteirProdutos #conteinerSlides {
  display: flex;
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteirProdutos #conteinerSlides .Slides {
  display: flex;
  min-width: 100%;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteirProdutos #conteinerSlides .Slides .ColunProduto {
  width: 100%;
  padding: 0 20px;
  padding-top: 3em;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteirProdutos #conteinerSlides .Slides .ColunProduto .Produto {
  display: flex;
  align-items: center;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteirProdutos #conteinerSlides .Slides .ColunProduto .Produto .BoxImg {
  flex: 0 0 80px;
  line-height: 0;
  border-radius: 50%;
  overflow: hidden;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteirProdutos #conteinerSlides .Slides .ColunProduto .Produto .BoxImg img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteirProdutos #conteinerSlides .Slides .ColunProduto .Produto .BoxText {
  margin: 0 1em;
  color: #262626;
  font-family: var(--fontTitle);
  line-height: 1.3;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteirProdutos #conteinerSlides .Slides .ColunProduto .Produto .BoxText h4 {
  clear: both;
  padding: 0 0 0.4em;
  font-weight: 800;
  font-style: normal;
  font-size: 1.05em;
  padding-bottom: 0.2em;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteirProdutos #conteinerSlides .Slides .ColunProduto .Produto .BoxText p {
  font-size: 0.9em;
  opacity: 0.7;
  line-height: 1.5;
}
.ModalBebidas .ConteinerModal .ConteinerCardapio .ConteirProdutos #conteinerSlides .Slides .ColunProduto .Produto .BoxPreco span {
  font-family: var(--fontTitle);
  font-size: 1.1em;
  font-weight: 400;
  white-space: nowrap;
}/*# sourceMappingURL=StyleMenu.module.css.map */