

#Service{

padding: 6em 0;
width: 100%;

#ConteinerService{

padding: 0 40px;

#BoxService{

display: inline-flex;
padding: 0 20px;

.ElementService{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 33.333333%;

line-height: 2.5em;

.BoxIcon{

text-align: center;

svg{

width: 4em;
height: auto;
fill: #9fc4ce;
}

}

.BoxText{

text-align: center;
color: #252525;
font-family: var(--fontText);
line-height: 1.5em;
padding: 0 20px;

h3{
font-size: 1.5em;
font-weight: 400;
margin-bottom: 0.5em;
}

p{
font-size: 1em;
}

}

}

}

}

}

#TextSobre{

width: 100%;
padding: 3em 0;

#ConteinerTextSobre{

display: flex;
align-items: center;
justify-content: center;
padding: 0 40px;

#BoxTextSobre{

padding: 0 20px;
width: 50%;

.BoxText{

display: block;
text-align: center;
line-height: 1.5;
font-family: var(--fontText);
color: #000;

h3{
font-size: 1em;
font-weight: 500;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #9fc4ce;
margin-bottom: 1em;
}

h1{
font-family: var(--fontTitle);
font-weight: 400;
font-size: 3em;
margin-bottom: 1em;
}

P{
font-size: 1em;
}

}

}

}

}

#SectionImg{

padding: 3em 0;
width: 100%;

#ConteinerSectionImg{

padding: 0 40px;

#BoxSectionImg{

display: flex;
padding: 0 20px;

.BoxImg{

padding: 1em;

img{
width: 100%;
height: auto;
}

}

}

}

}

#Info{

padding: 3em 0;
width: 100%;

#ConteinerInfo{

padding: 0 40px;

#BoxInfo{

display: flex;
align-items: center;
padding: 0 20px;


.SectionTitle{

width: 50%;

.BoxText{

text-align: left;
margin: 0 -30px;
font-family: var(--fontText);

h3{
font-size: 1em;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 0.15em;
color: #9fc4ce;
}

h1{
font-size: 3em;
font-family: var(--fontTitle);
font-weight: 400;
}

}

}

.SectionText{

width: 50%;

.BoxText{

color: #000;
font-family: var(--fontText);
line-height: 1.5;

p{
font-size: 1em;
}

}

}

}

}

}

#Team{

padding: 3em 0;
width: 100%;

#ConteinerTeam{

padding: 0 20px;

#BoxTeam{

display: flex;
justify-content: center;
align-items: center;
padding: 0 10px;


.ElementTeam{

display: block;
text-align: center;
width: 33.33333333%;

.BoxImg{

padding: 0 40px;
margin: 0 -20px;

img{
width: 100%;
height: auto;
}

}

.BoxText{

font-family: var(--fontText);
color: #000;
line-height: 1.5;
font-weight: normal;

padding: 0 20px;

h2{
font-size: 2em;
font-weight: 400;
font-family: var(--fontTitle);
}

h3{
font-size: 1em;
color: #9fc4ce;
font-weight: 500;
letter-spacing: 0.15em;
text-transform: uppercase;
margin-bottom: 1em;
}

p{
font-size: 1em;
}

}

}

}

}

}

#Sobre{

padding: 6em 0;
width: 100%;

#ConteinerSobre{

padding: 0 40px;

#BoxSobre{

display: flex;
align-items: center;
padding: 0 20px;


.SectionImg{

width: 50%;

.BoxImg{

padding: 0 20px;
margin: 0 -25px;

img{
width: 100%;
height: auto;
}

}

}

.SectionText{

width: 50%;
padding: 0 20px;

.BoxText{

font-family: var(--fontText);
color: #000;
padding: 0 10px;
text-align: center;
line-height: 1.5;

h3{
font-size: 1em;
color: #9fc4ce;
font-weight: 500;
letter-spacing: 0.15em;
text-transform: uppercase;
}

h1{
font-size: 2.5em;
font-weight: 400;
font-family: var(--fontTitle);
}

p{
font-size: 1em;
}

}

}

}

}

}

//Textsobre(tablet)
@media screen and (max-width: 845px){

#TextSobre #ConteinerTextSobre{
    
padding: 20px;

#BoxTextSobre{

width: 70%;

}
}

}

//Team (tablet)
@media screen and (max-width: 845px){

#Team #ConteinerTeam{

padding: 0 20px;

#BoxTeam{
flex-wrap: wrap;
padding: 0 20px;
.ElementTeam{

display: flex;
flex-direction: column;
width: 45.5555555%;
margin-bottom:2em;

.BoxImg{

padding: 0 40px;
margin: 0 -10px;

img{
max-width: 400px;
}

}

.BoxText{

padding: 0 20px;

}

}

}

}

}

//Sobre (tablet)
@media screen and (max-width: 845px){

#Sobre{

padding: 3em 0;
width: 100%;

#ConteinerSobre{

padding: 0 20px;

#BoxSobre{

flex-direction: column;
gap: 3em;

.SectionImg{

width: 70%;

.BoxImg{
margin: 0 -25px;

}

}

.SectionText{

width: 70%;

}

}

}

}

}

//service
@media screen and (max-width: 770px){

#Service{

#ConteinerService{

padding: 0 20px;

#BoxService{

display: flex;
flex-direction: column;
gap: 2em;

.ElementService{

width: 100%;

.BoxText{

padding: 0;

}

}

}

}

}

}

//Textsobre
@media screen and (max-width: 770px){

#TextSobre #ConteinerTextSobre{
    
padding: 20px;

#BoxTextSobre{

width: 100%;

}
}

}


//SectionImg
@media screen and (max-width: 770px){

#SectionImg #ConteinerSectionImg{

padding: 0 20px;

#BoxSectionImg{

flex-direction: column;

}
}

}

//Info
@media screen and (max-width: 770px){

#Info #ConteinerInfo{

padding: 0 20px;

#BoxInfo{

flex-direction: column;

.SectionTitle{

width: 100%;

.BoxText{

text-align: center;
margin-bottom: 3em;

}

}

.SectionText{

width: 100%;
text-align: center;

}

}

}

}

//Team
@media screen and (max-width: 770px){

#Team #ConteinerTeam{

padding: 0 20px;

#BoxTeam{
flex-direction: column;
padding: 0 20px;
.ElementTeam{

display: flex;
flex-direction: column;
width: 100%;
margin-bottom:2em;

.BoxImg{

padding: 0 40px;
margin: 0 -10px;

img{
max-width: 400px;
}

}

.BoxText{

padding: 0 20px;

}

}

}

}

}


//Sobre
@media screen and (max-width: 770px){

#Sobre{

#ConteinerSobre{

padding: 0 20px;

#BoxSobre{

flex-direction: column;
gap: 3em;

.SectionImg{

width: 100%;

}

.SectionText{

width: 100%;

}

}

}

}

}